<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kliento užsakymai be mapinimo</title> 
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">
		<link rel="stylesheet" href="main.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			.ch_lab {
				display: inline-block ! important;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {
		
			var id;
			var rekom;
			var res_str = '';
		
			// let
			searchParams = new URLSearchParams(window.location.search);
		
			if ( searchParams.has( 'id' )  ) {
		
				id = searchParams.get( 'id' )		

				params = {
				
					fields: [ 
						'patiekalai.pav',                                                             //kas cia turetu buti
						'patiekalai.flagYraPieno', 
						'patiekalai.flagYraRiesutai'
					]
					, fields_names: [ 'Pavadinimas', 'Yra<br>Pieno', 'Yra<br>rie-<br>šu-<br>tų' ]
					, url : 'http://localhost:8080/ajax/klientas?id=' + id
					, field_data: '.klientaiPatiekalai'
					, id_html_saraso: 'patiekalai'
					, id_html_dialog_formos: 'patiekalai-dialog'
					, dialog_size_x: 400
					, dialog_size_y: 490
					, title_dialog_form: 'Užsakymai'
					, url_save_rec: 'http://localhost:8080/ajax/kliento-patiekalas?id_kl=' + id                    //kas tas id_kl????
					, url_delete_rec:  'http://localhost:8080/ajax/salinti-kliento-patiekala?id_kl=' + id
					, fields_edit:  [ 'id_patiekalo' ]
					, fields_ed_types: [ 'select' ]
					, field_name: 'patiekalai.pav'
				}
				
				crud_uzsakymu = new crud ( params );
				
				crud_uzsakymu.initEmpty();
				crud_uzsakymu.refreshData();
				
				
				$.ajax({
						url: "http://localhost:8080/ajax/lst-patiekalai" 
				}).done(
				
					function( patiekalai_all ) {

						options = '';
																					// alert ( 'kiek produktu: ' + this.produktai.length );
						for ( i= 0; i < patiekalai_all.length; i++ ) {
																					//alert ( 'i, id, pav:' + i + ',' + this.produktai [ i ].id + ', ' + this.produktai [ i ].pav )
							options += '<option value="' + patiekalai_all [ i ].id + '">' + patiekalai_all [ i ].pav + '</option>';
						}
						
						selectas_html = '<label for="id_patiekalo">Patiekalas</label>' +
							'<select type="text" name="id_patiekalo" id="id_patiekalo" class="text ui-widget-content ui-corner-all">' +
								options +
							'</select>';
							
						$( '#patiekalu_selectas' ).html ( selectas_html );	
					}
				);				
				
				$.ajax({
						url: "http://localhost:8080/ajax/kliento?id="  + id
				}).done(
				
					function( data ) {
					
						rekom= data;
						
						//res_str = id + pav + kiekis ;
						
						alert ( JSON.stringify (data ) );
						

					}
				
						//}
						
					
				);				
			
				
			
			function pasiulyk(){
			
				alert ( JSON.stringify  ( rekom ) );
				
				res_str += 'Siūlome paragauti mėgstamiausią jūsų patiekalą: '  + rekom [ 0 ][ 1 ] + '<br>' ; 
				res_str += 'Siūlome paragauti retai ragaujamą patiekalą: ' + rekom [ 1 ][ 1 ]  ; 
					
					
				//res_str+='Gal pageidaujaute išgerti vyno?' + "
				
						$( '#rekomend' ).html ( res_str );				
			}
			
			$( '#rekom' ).click( function() {
			
				pasiulyk();
			});
			
			
		};
	
});
	</script>
</head>
<body>
<nav>
	<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
</nav>

<div id="patiekalai-dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 259.053px;">
<p class="validateTips">Visi laukeliai turi buti užpildyti.</p><p class="name_item" id="name_item">Naujas</p>
<form action=""><fieldset>
<div id="patiekalu_selectas">
</div>
<!-- Allow form submission with keyboard without duplicating the dialog button -->
<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"></fieldset><input type="hidden" name="id" id="id_rec" value="0">
</form>
</div>
	<div id="patiekalai">
	</div>
	<div id="pasiulymai">
	<input type="button" id="rekom" value="Pasiūlyti">
	<!-- <input type="button" id="show_reiksmes_daugiakampio" onClick="show_daugiakampis()" value="daugiakampis" disabled>-->
	
	</div>
	<div id="rekomend">
	
	</div>
</body>
</html>